<%= title "Home" %>
<div class="top-reset">
	<div class="wrapper">
		<div class="hero-unit slideExpandUp">
				<span class="hero-text"><h1>I am a hero text!</h1></span>
		</div>
	</div>
</div>
<section>
	<div class="wrapper">
		<row class="ck-col-twelve centered-text">
			<h3>here goes all data</h3>
		</row>
	</div>

	<h3>Blog Posts Goes Here</h3>
	<div class="wrapper">
			<div class="row">
				<div class="ck-col-four">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, repudiandae, porro eius aut aspernatur delectus fuga. Recusandae, omnis? Alias veniam laboriosam tempora architecto voluptates, nesciunt pariatur perferendis, saepe deleniti impedit? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi a aspernatur, labore iure atque, at asperiores, eaque necessitatibus deleniti omnis tempore est explicabo nostrum minima harum animi amet expedita aliquam! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis eveniet dicta, ullam, id voluptate quam quae harum, molestiae veniam laboriosam ad enim alias. Quos corporis sunt sequi ea minima, tempora!  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum cumque consectetur voluptatem ut unde voluptas cupiditate, fugit commodi esse accusamus sint culpa natus libero, ipsum rerum atque distinctio ab? Dolorum?</p>
				</div>
				<div class="ck-col-four">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, repudiandae, porro eius aut aspernatur delectus fuga. Recusandae, omnis? Alias veniam laboriosam tempora architecto voluptates, nesciunt pariatur perferendis, saepe deleniti impedit? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi a aspernatur, labore iure atque, at asperiores, eaque necessitatibus deleniti omnis tempore est explicabo nostrum minima harum animi amet expedita aliquam! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis eveniet dicta, ullam, id voluptate quam quae harum, molestiae veniam laboriosam ad enim alias. Quos corporis sunt sequi ea minima, tempora!  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum cumque consectetur voluptatem ut unde voluptas cupiditate, fugit commodi esse accusamus sint culpa natus libero, ipsum rerum atque distinctio ab? Dolorum?</p>
				</div>
				<div class="ck-col-four">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, repudiandae, porro eius aut aspernatur delectus fuga. Recusandae, omnis? Alias veniam laboriosam tempora architecto voluptates, nesciunt pariatur perferendis, saepe deleniti impedit? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi a aspernatur, labore iure atque, at asperiores, eaque necessitatibus deleniti omnis tempore est explicabo nostrum minima harum animi amet expedita aliquam! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis eveniet dicta, ullam, id voluptate quam quae harum, molestiae veniam laboriosam ad enim alias. Quos corporis sunt sequi ea minima, tempora!  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum cumque consectetur voluptatem ut unde voluptas cupiditate, fugit commodi esse accusamus sint culpa natus libero, ipsum rerum atque distinctio ab? Dolorum?</p>
				</div>
			</div>
	</div>
	<hr class="med-hr" align="center">
	<div class="wrapper ">
		<div class="row">
			<div class="ck-col-twelve">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, repudiandae, porro eius aut aspernatur delectus fuga. Recusandae, omnis? Alias veniam laboriosam tempora architecto voluptates, nesciunt pariatur perferendis, saepe deleniti impedit? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi a aspernatur, labore iure atque, at asperiores, eaque necessitatibus deleniti omnis tempore est explicabo nostrum minima harum animi amet expedita aliquam! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis eveniet dicta, ullam, id voluptate quam quae harum, molestiae veniam laboriosam ad enim alias. Quos corporis sunt sequi ea minima, tempora!  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum cumque consectetur voluptatem ut unde voluptas cupiditate, fugit commodi esse accusamus sint culpa natus libero, ipsum rerum atque distinctio ab? Dolorum?</p>
			</div>
			<div class="ck-col-twelve">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, repudiandae, porro eius aut aspernatur delectus fuga. Recusandae, omnis? Alias veniam laboriosam tempora architecto voluptates, nesciunt pariatur perferendis, saepe deleniti impedit? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi a aspernatur, labore iure atque, at asperiores, eaque necessitatibus deleniti omnis tempore est explicabo nostrum minima harum animi amet expedita aliquam! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis eveniet dicta, ullam, id voluptate quam quae harum, molestiae veniam laboriosam ad enim alias. Quos corporis sunt sequi ea minima, tempora!  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum cumque consectetur voluptatem ut unde voluptas cupiditate, fugit commodi esse accusamus sint culpa natus libero, ipsum rerum atque distinctio ab? Dolorum?</p>
			</div>
			<div class="ck-col-twelve">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, repudiandae, porro eius aut aspernatur delectus fuga. Recusandae, omnis? Alias veniam laboriosam tempora architecto voluptates, nesciunt pariatur perferendis, saepe deleniti impedit? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi a aspernatur, labore iure atque, at asperiores, eaque necessitatibus deleniti omnis tempore est explicabo nostrum minima harum animi amet expedita aliquam! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis eveniet dicta, ullam, id voluptate quam quae harum, molestiae veniam laboriosam ad enim alias. Quos corporis sunt sequi ea minima, tempora!  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum cumque consectetur voluptatem ut unde voluptas cupiditate, fugit commodi esse accusamus sint culpa natus libero, ipsum rerum atque distinctio ab? Dolorum?</p>
			</div>
		</div>
	</div>

</section>
