.hp-footer{
	width: 100%;
	height: auto;
	bottom: 0;
	background-color: #333333;
	color: #fff;
	.footer-content{
		padding-top: 3em;
	}
	.fa {	
		background-color: #fff;
		padding: .50em;		
		color: #B2240C;
		border: .25em solid #fff;
		border-radius: 50%;
		}
}