@media (min-width: 640px) {
  .top-bar .title-area {
    float: left;
    margin: -1% 41.33%;
    width: auto;
    position: absolute;
  }
  .top-bar-section ul.left {
    padding-right: 1em;
    a{
      letter-spacing: .15em;
      font-weight: 700;
    }
  }
  .top-bar-section ul.right {
    padding-left: 1em;
    a{
      font-weight: 700;
      letter-spacing: .15em;
    }
  }
}

@media (max-width: 640px) {
  .name{
    img{
      margin-top: -4%;
      margin-left: 8%;
    }
  }
}