/*
CSS Manifest
Name: Odin CSS FrameWork
Version: 0.1
Copyright: CodeKrieg
Author: Himanshu Patel
Contributors: None
Questions, comments, concerns, love letters:
himanshu.p@codekrieg.com
Author URL: http://himanshupatel.net
Company URL: http://codekrieg.com
Twitter: https://twitter.com/codekrieg
Made In Italy & India
*/

@import "ck-overrides";
@import "nav";
@import "animations";
// @import "footer";
body {
 background-color: $html-color;
 color: $text-colors;
 font-family: $font-main;
}
p{
  font-family: $font-main;
  font-weight: 500;
}

h1,h2,h3,h4,h5,h6{
  font-family: $font-main;
  font-weight: 700;
  text-transform: capitalize;
}

a{
  font-weight: 200;
  text-decoration: none;
  &:hover{
    color: $hover;
  }
  &:visited{
    color:$visited-links;
  }
}

.highliter{
  color: $highliter;
}
img
 {
    width: auto;
    max-width: 100%;
    height: auto !important;
}

// Nav Bar
header{
  position: fixed;
  width: 100%;
  height: $nav-height;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  background-color: $nav-color;
  .nav-main{
  background-color: $nav-color;
   float: right;
   padding: 20px;
   clear: both;
       // Mobile menu nav
    .hidden{
      display: none;
    }
    ul{
      list-style: none;
      li{
        display: inline-block;
        float: left;
        padding: 10px;
        color: $hover;
          a{
            font-weight: 200;
            text-decoration: bold !important;
            color: $hover;
            &:hover{
              color: $hover;
            }
        }
      }
    }
  }
  .nav-responsive li{
    display: none;
  }
}

// This section handles the awesomness of the brand name
#brand{
  padding-top: 1.3em;
  padding-left: 0.85em;
  float: left;
  width: 150px;
  height: 40px;
  display: inline-block;
  color: #fff;
  font-weight: 700;
  clear: both;
  }

// Our Hero Unit Details Are Over Here
.hero-text{
    display: table-cell;
    vertical-align:middle;
    text-align:center;
    background-color: transparentize(#ffffff, 0.55);
    h1{
      font-weight: 700;
    }
}

/* Media Queries */
@media (max-width : 700px){
  .nav-main{
    display:none;
   }
   .nav-responsive{
    background-color: $nav-color;  
    width: 100%;
   }
   .nav-responsive ul li.hidden {
    display:inline-block;
    text-align: center;
    list-style: none;
    }
   }
   .nav-responsive ul li.hidden:hover {
    border-radius:4px 0 0 4px;
   }
   .nav-responsive ul li.hidden a{
    
  }
  .menu-icon{
    display: block;
    clear: both;

    ul{
      background-color: $nav-color;
      float: right;
      width: 100%;
      li{
        text-decoration: right;
        list-style: none;
        text-align: center;
        a{
        color: $brand-color;
        font-weight: 600;
        &:hover{
        color: $hover;
        }
      }
    }
  }
}
.trigger{
  float: right !important;
  clear: both;
  padding-right: 1em;
  padding-top: -25px;
  height: auto;
}
@media (min-width : 701px){
   .nav-responsive {
    display:none;
    }
}


