/*
CSS Manifest
Name: Odin CSS FrameWork
Version: 0.1
Copyright: CodeKrieg
Author: Himanshu Patel
Contributors: None
Questions, comments, concerns, love letters:
himanshu.p@codekrieg.com
Author URL: http://himanshupatel.net
Company URL: http://codekrieg.com
Twitter: https://twitter.com/codekrieg
Made In Italy & India
*/

@import "ck-overrides";
@import "nav";
@import "animations";
// @import "footer";
body {
 background-color: $html-color;
 color: $text-colors;
 font-family: $font-main;
}
p{
  font-family: $font-main;
  font-weight: 500;
}

h1,h2,h3,h4,h5,h6{
  font-family: $font-main;
  font-weight: 700;
  text-transform: capitalize;
}

a{
  font-weight: 200;
  text-decoration: none;
  &:hover{
    color: $hover;
  }
  &:visited{
    color:$visited-links;
  }
}

.highliter{
  color: $highliter;
}
img
 {
    width: auto;
    max-width: 100%;
    height: auto !important;
}

// Nav Bar
header{
  position: fixed;
  width: 100%;
  height: $nav-height;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  background-color: $nav-color;
  
  .nav-main{
   background-color: $nav-color;
   //width: 100%;
   float: right;
   clear: both;
   
    ul{
      list-style: none;
      float: right;
      clear: both;
      margin-top: -12px;
      li{
        display: inline-block;
        float: left;
        padding: 10px;
        color: $hover;
          a{
            font-weight: 700;
            text-decoration: bold !important;
            color: $hover;
            &:hover{
              color: $brand-color;
            }
        }
      }
    }
    .active{
    background-color: $highliter;
   }
  }
  .wrapper{
    width: 100%;
  }
}

// This section handles the awesomness of the brand name
#brand{
  padding-top: 2em;
  padding-left: 0.85em;
  float: left;
  width: 150px;
  height: 40px;
  display: inline-block;
  color: #fff;
  font-weight: 700;
  clear: both;
  }

// Our Hero Unit Details Are Over Here
.hero-text{
    display: table-cell;
    vertical-align:middle;
    text-align:center;
    background-color: transparentize(#ffffff, 0.55);
    h1{
      font-weight: 700;
    }
}

/* Media Queries */
@media screen and (max-width : 756px){
  #brand{
  padding-top: 2em;
  padding-left: 0.85em;
  float: left;
  width: 150px;
  height: 40px;
  display: inline-block;
  color: #fff;
  text-align: left;
  font-weight: 700;
  clear: both;
  }
  .nav-main {
    margin-top: 2.23em;
    width: 100%;
  }
  .burger-nav{
    display:block !important;
    margin-top: -0.45em;
    padding-right: 3em;
    height: 1.5em;
    cursor: pointer;
    color: #fff;
    width: 1.2em;
    float: right;
    clear: both;
    color: $brand-color;
    &:hover{
      color: $highliter;
    }
   }
   .open{
    width: 100%;
    //padding-top:4em;
   }
   header nav ul{
    overflow: hidden;
    height: 0;
   }

   header nav ul.open{
    height: auto;
    // padding-top: 2.78em;
    width: 100% important;
   }
   header nav ul li{
    float: none;
    width: 100%;
    marging: 0;
    text-align: center;
    background-color: $brand-color;
    &:hover{
      background-color: $highliter;

    }
   }
   header nav ul li a{
    color: #fff;
    padding: 10px;
    // border-bottom: 1px solid #fff;
    font-size: 18px;
    width: 100%;
   }
   .active{
    background-color: $highliter;
   }
}

@media screen and (min-width : 757px){
  .burger-nav{
    display: none !important;
  }
}

.content-wrapper{
  padding-top: 5em;
}