<h1>
	Listing All Categories
</h1>
<div class="text-center">

	<% @categories.each do |category| %>
						<%= link_to "#{category.name}", category_path(category) %>
					<li><small><%= pluralize(category.article.count, "article") %></small></li>
				
	<% end %>
</div>