<footer class="hp-footer">
	<div class="wrapper">
		<div class="row footer-content" align="center">
			<div class="ck-col-twelve">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem inventore, nemo ipsa natus sapiente eos odit enim totam fugit aspernatur architecto culpa modi ipsam deserunt, beatae dolorem libero sed, iste!
			</div>
			<div class="ck-col-twelve">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore reiciendis fugiat illum cumque error vitae molestias accusantium expedita, asperiores. Tempora labore culpa minima, maiores consectetur deleniti suscipit cupiditate asperiores impedit?
			</div>
		</div>
	</div>
	<hr class="med-hr" align="center">
	<div class="wrapper">
		<div class="row">
			<div class="ck-col-twelve" align="center">
				<p class="copyright">All Rights Reserved &copy; <%= Time.now.year %>, <%= link_to "Himanshu Patel", root_path %> </p>
				<hr class="small-hr">
				<p class="impressum">Built with&nbsp;&nbsp; <i class="fa fa-coffee"></i>&nbsp;&nbsp;&amp; a lot of&nbsp;&nbsp;<i class="fa fa-heart"></i> </p>
			</div>
		</div>
	</div>
</footer>
