<footer class="hp-footer">
	<div class="container">
		<div class="row footer-content">
			<div class="large-4 small-6 columns">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem inventore, nemo ipsa natus sapiente eos odit enim totam fugit aspernatur architecto culpa modi ipsam deserunt, beatae dolorem libero sed, iste!
			</div>
			<div class="large-4 small-6 columns">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore reiciendis fugiat illum cumque error vitae molestias accusantium expedita, asperiores. Tempora labore culpa minima, maiores consectetur deleniti suscipit cupiditate asperiores impedit?
			</div>
		</div>
	</div>
	<hr class="divider">
	<div class="container">
		<div class="row">
			<div class="large-12 small-12 columns text-center">
				<p class="copyright">All Rights Reserved &copy; <%= Time.now.year %>, <%= link_to "Himanshu Patel", root_path %> </p>
				<hr class="divider">
				<p class="impressum">Built with&nbsp;&nbsp; <i class="fa fa-coffee"></i>&nbsp;&nbsp;&amp; a lot of&nbsp;&nbsp;<i class="fa fa-heart"></i> </p>
			</div>
		</div>
	</div>
</footer>